body {
    margin: 0px;
    font-family: Arial;
    background-color: #4912f6
    }
    
    .section-1 {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 150px 200px 50px;
    }
    
    input[type = 'button'] {
        border-radius: 25px;
        border: 0;
        padding: 11px 11px;
        font-weight: bold;
    }